<h1>Welcome to CSE Motors</h1>
<div id="index-grid">
    <div id="hero">
        <img src="/images/vehicles/delorean.jpg" alt="Vehicle Image">
        <div class="herolabel">
            <div class="banner">
                <div>DMC Delorean</div>
                <div>3 Cup holders</div>
                <div>Superman doors</div>
                <div>Fuzzy dice!</div>
                <img src="/images/site/own_today.png" alt="Own Today Button Image">
            </div>
        </div>
    </div>
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="cards">
            <div class="card">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="Upgrades Image">
                </div>
                <a>Flux Capacitor</a>
            </div>
            <div class="card">
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="Upgrades Image">
                </div>
                <a>Flame Decals</a>
            </div>
            <div class="card">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Upgrades Image">
                </div>
                <a>Blumper Stickers</a>
            </div>
            <div class="card">
                <div>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Upgrades Image">
                </div>
                <a>Hub Caps</a>
            </div>
        </div>
    </section>
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time.(4/5)"</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </section>
</div>