:root {
  --primary-color: #011638   ;
  --secondary-color: #333 ;
  --light1-color: #fff;
  --light2-color: #777;
  --light3-color: rgb(255 255 255 / 67%);
  --light4-color: #38c2e9;
  --light5-color: #3aa1c0;
  --header-font: 'Source Sans Pro', sans-serif;
  --heading-font: cursive, sans-serif;
  --paragraph-font: emoji, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 800;
  margin: 10px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* layout */
body{
  margin: 0;
  padding: 0 10px;
}
#wrapper {
  background-color: var(--light1-color);
  padding: 0;
  margin: 0;
  width: 100%;
}
/* header */
#top-header {
  padding: 8px 12px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.siteName a{
  font-family: var(--header-font);
  font-size: 32px;
  font-weight: 900;
}
#tools a{
  font-family: var(--paragraph-font);
  font-size: 16px;
}
/* navigation */
nav {
  background-color: var(--secondary-color);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 10px 16px;
  /* color: var(--light1-color); */
  font-size: 18px;
  cursor: pointer;
  font-family: var(--paragraph-font);
}
nav ul li:hover {
  background-color: var(--light2-color);
}
ul li > a{
  color: var(--light1-color);
}

/* footer */
footer{
  margin-top: 5rem;
}
footer p{
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  font-weight: 500;
}
/* index */
#hero {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero > img {
  width: 500px;
  max-height: 400px;
  object-fit: contain;
}

.herolabel {
  position: absolute;
  color: var(--light4-color); 
  left: 2rem;
}

.banner {
  background-color: var(--light3-color);
  padding: 20px;
  border-radius: 10px;
}
.banner > div {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--paragraph-font);
}
.banner > div:first-child {
  font-size: 24px;
  font-weight: 800;
}
.banner > img {
  width: 150px;
  margin: 20px 0 0 0;
}
#index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px
}
#upgrades {
  grid-column: 1/3;
  grid-row: 3/4;
}
#upgrades > .cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#upgrades .card{
  text-align: center;
  padding: 5px;
}
#upgrades .card > div{
  text-align: center;
  background-color: var(--light4-color);
  border: solid 4px var(--light5-color);
  padding: 5px;
  height: 90px;
}
.card a {
  display: block;
}
#reviews {
  grid-column: 1/3;
  grid-row: 2/3;
}
#reviews ul{
  padding: 0 2rem;
}
#reviews ul li{
  margin: 10px 0;
  font-family: var(--paragraph-font);
}
/* errorPage */
.errorPage {
  text-align: center;
}
/* inv-display */
#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  list-style: none;
  padding: 0 2rem;
  margin: 0;
}

#inv-display li {
  border: solid 2px var(--light2-color);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding-bottom: 20px;
}

#inv-display li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#inv-display img {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;
}
.namePrice {
  text-align: center;
}
.namePrice span {
  font-weight: bold;
  font-size: 1rem;
  color: var(--primary-color);
}
#inv-display hr {
  border: solid 3px;
}
/* inv-detail */
#inv-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
#inv-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
#inv-detail .textEmphasis {
  font-weight: 900;
  font-size: 18px;
}
#inv-detail p {
  padding: 1rem;
  border-radius: 5px;
  margin: 0;
}
#inv-detail p:nth-child(even) {
  background: #f2f2f2;
}
.notice {
  color: red;
}
/* login & register */
.account-container, 
.add-container,
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-card, 
.add-card,
.edit-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 320px;
}
.account-card form,
.add-card form,
.edit-card form {
  text-align: left;
}
.account-card p,
.add-card p,
.edit-card p {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
}
.account-form, 
.add-form,
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-form input,
.add-form input,
.add-form textarea,
.add-form select,
.edit-form input,
.edit-form textarea,
.edit-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light2-color);
  border-radius: 5px;
  font-size: 16px;
}
.account-form button,
.add-form button,
.edit-form button {
  background: var(--light5-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.account-form button:hover,
.add-form button:hover,
.edit-form button:hover {
  background: var(--primary-color);
}
.account-card a,
.add-card a,
.edit-card a {
  color: var(--light5-color);
  text-decoration: none;
  font-weight: bold;
}

.account-card a:hover,
.add-card a:hover,
.edit-card a:hover {
  text-decoration: underline;
}
#pswdBtn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 10em;
  text-align: center;
}
input:required:invalid, input:focus:invalid, 
textarea:required:invalid, textarea:focus:invalid,
select:required:invalid, select:focus:invalid {
  background-color: rgb(255, 201, 201);
 }
input:required:valid,
textarea:required:valid,
select:required:valid {
  background-color: rgb(192, 255, 192);
}
.buttonStyle {
  display: list-item;
  text-decoration: underline;
  margin: 1em;
}
/* inventoryDisplay */
#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

#inventoryDisplay th, 
#inventoryDisplay td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#inventoryDisplay thead tr {
  background-color: #f8f8f8;
  font-weight: bold;
}

#inventoryDisplay tr:hover {
  background-color: #f1f1f1;
}

#inventoryDisplay a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

#inventoryDisplay a:hover {
  text-decoration: underline;
}
#classificationList {
  padding: 3px 5px;
  border-radius: 5px;
}

/* larger screen */
@media screen and (min-width: 800px) {
  html {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #wrapper {
    background-color: var(--light1-color);
    border: solid 8px var(--light4-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    width: 70%;
    min-width: 800px;
  }
  #hero {
    grid-column: 1/3;
  }
  #reviews {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #upgrades {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #inv-detail {
    grid-template-columns: 1fr 1fr;
  }
}