<h1><%= title %></h1>
<%- messages() %>

<div> 
    <div class="buttonStyle"><a href="/inv/add-classification">Add New Classification</a></div>
    <div class="buttonStyle"><a href="/inv/add-inventory">Add New Inventory</a></div>
</div>